# Скомпилированные файлы Python
*.pyc
__pycache__/

# Системные файлы и временные файлы
*.swp
.DS_Store

# Файлы данных (если не хотите хранить историю в репозитории)
data.json

# Виртуальное окружение (если используется venv)
env/
venv/
